[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arkive-db = {file = "../arkive-db"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
