[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
python-jose = {extras = ["cryptography"] }
python-multipart = "*"
requests = "*"
python-dotenv = "*"
pydantic-settings = "*"
dynaconf = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"] }
greenlet = "*"
passlib = "*"
beautifulsoup4 = "*"
openai = "*"

[dev-packages]
black = "*"
mypy = "*"
flake8 = "*"
types-requests = "*"

[requires]
python_version = "3.10"
